<div id = "hospital_basic">
 <div class="container">
  <div class="row marketing">
    <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 병원 정보 -->
  
  
  
    <% @hospitals.each do |t| %>
     <div class="col-md-6">
      <h4><%= t.hos_name_display %></h4>
      <img src= "/assets/<%= t.hos_name_eng %>_main.jpg" class="img-thumbnail" width="320" /> 
      <p><%= t.hos_intro %></p>
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
      </span>
      <p id="count">4.2 점 (250 명)</p>
      <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
    </div>
   <% end %>
  
  
  </div>
  </div>
</div> 