<div id = "hospital_basic">
 <div class="container">
  <div class="row marketing">
    <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 병원 정보 -->
    
  

    <div class="col-md-6">
      <h4><%= @a_hospital %></h4>
      <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120156585/B120156585_EPI0004_10_B.jpg" class="img-thumbnail" width="320">
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
      </span>
      <p id="count">4.2 점 (250 명)</p>
      <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
    </div>
  
    <div class="col-md-6">
      <h4><%= @a_hospital %></h4>
      <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120144822/B120144822_EPI0026_09_B.jpg" class="img-thumbnail" width="320">
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
      </span>
      <p id="count">4.2 점 (250 명)</p>
      <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
    </div>
  
    <div class="col-md-6">
      <h4><%= @a_hospital %></h4>
      <img src="http://free.tvn.cjenm.skcdn.com/CLIP/EA/B120156114/B120156114_EPI0010_06_B.jpg" class="img-thumbnail" width="320">
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
      <span class="star-rating small">
        <i></i>
        <i></i>
        <i></i>
        <i class="on"></i>
        <i></i>
      </span>
      <p id="count">4.2 점 (250 명)</p>
      <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기</a></p>
    </div>
  
  
  </div>
  </div>
</div> 