<div class = "container">
    <!-- MAIN-->
    <!--END MAIN-->
    <div class = "row" style = "background-color : #e0e0e0;">
        <!-- left -->
        <div class="col s3">
            <!-- user info-->
            <div class="card-panel red lighten-2">
                <div class="caption center-align">
                    <img src="" alt="" class="circle responsive-img" style = "height: 150px; width: 150px;" > 
                </div>
                <span class="white-text"  style ="text-align: center">
                    <h5></h5>
                    <h6>코디 :  </h6>
                </span>
            </div>
            <!-- user infoend-->
        </div>
        <!--left end -->
            
        <!--right start-->
        <div class="col s9">
            <!--right start-->
            <div class="row">
                <% @all_requesting.each do |rq| %>
                    <div class="col s4">
                      <div class="card small" style="width:100%; padding-right: 5px; padding-left: 5px;">
                        <div class="card-image">
                          <img src="<%= rq.img_front.url %>" style="height: 150px;">
                          <span class="card-title"></span>
                        </div>
                        <div class="card-content" style="padding-top: 0px; padding-bottom: 0px;">
                          <br>
                            <p><%= rq.user.realname %>님</p>
                            <p>요청부위 : 
                                <% rq.requesting_contents.each do |con| %>
                                    <td><%= con.content %></td>
                                <% end %>
                            </p>
                        </div>
                        <div class="card-action" style = "text-align:center;">
                          <a href="/estimating/counsel/<%= rq.id %>">자세히보기</a>
                        </div>
                      </div>
                    </div>
                <% end %>
            </div>

            
            
            
           
        </div>
    </div>
</div>
    





