<div class = "container">
    <!-- MAIN-->
    <!--END MAIN-->
    <div class = "row" style = "background-color : #e0e0e0;">
        <!-- left -->
        <div class="col s3">
            <!-- user info-->
            <div class="card-panel red lighten-2">
                <div class="caption center-align">
                    <img src="" alt="" class="circle responsive-img" style = "height: 150px; width: 150px;" > 
                </div>
                <span class="white-text"  style ="text-align: center">
                    <h5></h5>
                    <h6>코디 :  </h6>
                </span>
            </div>
            <!-- user infoend-->
        </div>
        <!--left end -->
            
        <!--right start-->
        <div class="col s9">
            <nav>
              <div class="nav-wrapper" style ="background-color:#009688 !important;">
              <a href="#" class="brand-logo right" style = "color:white; font-size:25px; margin-left:20px;">전체보기</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html" style = "color:white;">상담대기</a></li>
                <li><a href="badges.html" style = "color:white;">상담완료</a></li>
                <li><a href="collapsible.html" style = "color:white;">추가상담대기</a></li>
                <li><a href="collapsible.html" style = "color:white;">추가상담완료</a></li>
              </ul>
              </div>
            </nav>
            <!--right start-->
            
      </div>
    </div>
</div>