<div class = "container">
    <!-- MAIN-->
    <!--END MAIN-->
    <div class = "row" style = "background-color : #e0e0e0;">
        <!-- left -->
        <div class="col s3">
            <!-- user info-->
            <div class="card-panel red lighten-2">
                <div class="caption center-align">
                    <img src="" alt="" class="circle responsive-img" style = "height: 150px; width: 150px;" > 
                </div>
                <span class="white-text"  style ="text-align: center">
                    <h5></h5>
                    <h6>코디 :  </h6>
                </span>
            </div>
            <!-- user infoend-->
            <!-- 실시간채팅 시작 -->
            <div class="card-panel white">
                <h1>채팅</h1>
                
                
                
                
                
                
                
            
            </div>
            <!-- 실시간채팅 완료 -->
        </div>
        <!--left end -->
            
            
            
            
        <!--right start-->
        <div class="col s9">
            <!--right start-->
            <div class="container">
           
           
            </div>            
            
            
           
            
            
            
           
        </div>
    </div>
</div>
    





