<div class = "container">
    <!-- MAIN-->
    <!--END MAIN-->
    <div class = "row" style = "background-color : #e0e0e0;">
        <!-- left -->
        <div class="col s3">
            <!-- user info-->
            <div class="card-panel red lighten-2">
                <div class="caption center-align">
                    <img src="" alt="" class="circle responsive-img" style = "height: 150px; width: 150px;" > 
                </div>
                <span class="white-text"  style ="text-align: center">
                    <h5></h5>
                    <h6>코디 :  </h6>
                </span>
            </div>
            <!-- user infoend-->
            <!-- 실시간채팅 시작 -->
            <div class="card-panel white">
                <h1>채팅</h1>

                <div id="chat_list">
                    <% @chatchats.each do |p| %>
                      <p> <%= p.content %> </p>
                    <% end %>
                </div>
                <textarea id="chat_content">
                </textarea>
                <a href="#" id="submit_msg">아!!</a>
                
                
                
                
                
                
            
            </div>
            <!-- 실시간채팅 완료 -->
        </div>
        <!--left end -->
            
            
            
            
        <!--right start-->
        <div class="col s9">
            <!--right start-->
            <div class="container">
           
           
            </div>            
            
            
           
            
            
            
           
        </div>
    </div>
</div>
    
<script>
$(function() {
    
    var pusher = new Pusher('6db88e6ebf1b94b03e95', {
      encrypted: true
    });
    
    var channel = pusher.subscribe('onlyone');
    
    channel.bind('new_message', function(data) {      
      var txt = data.msg;
      $("#chat_list").append("<p>" + txt + "</p>");    
      
    });
    
    $("#submit_msg").click(function(){
        $.ajax({
            data: {
                content: $("#chat_content").val()
            },
            url: "/estimating/send_msg",
            success: function(){
                $("#chat_content").val('');
                $("#chat_content").focus();                
            }          
        });
    });
});
</script>