/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* 게시판용 */
@import "font-awesome";
@import 'posts';
/* 게시판용 끝 */
html {
font-family: "Microsoft Yahei", tahoma, "segoe UI",  "Microsoft Jhenghei", meiryo, "malgun gothic"
}
#wrapper{
  min-height: 900px;
    
}

/******
Page Footer 
******/
.page-prefooter {
  background: #ea4b4b;
  color: white;
}
.page-prefooter h2 {
  color: #F3C200;
}
.page-prefooter a {
  color: #F3C200;
}
.page-prefooter .subscribe-form .form-control {
  background: white;
  border-color: white;
  color: #a2abb7;
}
.page-prefooter .subscribe-form .form-control::-moz-placeholder {
  color: #939eac;
  opacity: 1;
}
.page-prefooter .subscribe-form .form-control:-ms-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .form-control::-webkit-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .btn {
  background-color: #ffcc03;
}
.page-prefooter .subscribe-form .btn:hover, .page-prefooter .subscribe-form .btn:focus, .page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  color: #fff;
  background-color: #dfb200;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  color: #fff;
  background-color: #dfb200;
}
.page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  background-image: none;
  background-color: #c59d00;
}
.page-prefooter .subscribe-form .btn:active:hover, .page-prefooter .subscribe-form .btn.active:hover {
  background-color: #cfa500;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  background-image: none;
}
.page-prefooter .subscribe-form .btn.disabled, .page-prefooter .subscribe-form .btn.disabled:hover, .page-prefooter .subscribe-form .btn.disabled:focus, .page-prefooter .subscribe-form .btn.disabled:active, .page-prefooter .subscribe-form .btn.disabled.active, .page-prefooter .subscribe-form .btn[disabled], .page-prefooter .subscribe-form .btn[disabled]:hover, .page-prefooter .subscribe-form .btn[disabled]:focus, .page-prefooter .subscribe-form .btn[disabled]:active, .page-prefooter .subscribe-form .btn[disabled].active, fieldset[disabled] .page-prefooter .subscribe-form .btn, fieldset[disabled] .page-prefooter .subscribe-form .btn:hover, fieldset[disabled] .page-prefooter .subscribe-form .btn:focus, fieldset[disabled] .page-prefooter .subscribe-form .btn:active, fieldset[disabled] .page-prefooter .subscribe-form .btn.active {
  background-color: #ffcc03;
}
.page-prefooter .subscribe-form .btn .badge {
  color: #ffcc03;
  background-color: #fff;
}

.page-footer {
  background: #e53935;
  color: white;
}

/* Pre-footer */
.page-prefooter {
  padding: 30px 0;
  clear: both;
}
.page-prefooter h2 {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
.page-prefooter .subscribe-form {
  padding-top: 5px;
}
.page-prefooter .subscribe-form .form-control {
  font-size: 12px;
  padding: 0 14px;
  height: 36px;
}
.page-prefooter .social-icons {
  padding-top: 9px;
}
.page-prefooter .social-icons li {
  opacity: 0.35 ;
  filter: alpha(opacity=35) ;
}
.page-prefooter .social-icons li:hover {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}
.page-prefooter p,
.page-prefooter address {
  margin: 0;
}

/* Footer */
.page-footer {
  font-size: 12px;
  font-weight: 300;
  padding: 17px 0;
}

@media (max-width: 991px) {
  /* 991px */
  .page-prefooter {
    padding-bottom: 10px;
  }
  .page-prefooter .footer-block {
    margin-bottom: 20px;
  }
  .page-prefooter > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }

  .page-footer > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
}
/******
Page Footer 
******/



/***
Start Social Icons
***/
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons:before, .social-icons:after {
  content: " ";
  display: table;
}
.social-icons:after {
  clear: both;
}
.social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}
.social-icons li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover > a {
  background-position: 0 -38px;
}
.social-icons li .amazon {
  background: url(../img/social/amazon.png) no-repeat;
}
.social-icons li .behance {
  background: url(../img/social/behance.png) no-repeat;
}
.social-icons li .blogger {
  background: url(../img/social/blogger.png) no-repeat;
}
.social-icons li .deviantart {
  background: url(../img/social/deviantart.png) no-repeat;
}
.social-icons li .dribbble {
  background: url(../img/social/dribbble.png) no-repeat;
}
.social-icons li .dropbox {
  background: url(../img/social/dropbox.png) no-repeat;
}
.social-icons li .evernote {
  background: url(../img/social/evernote.png) no-repeat;
}
.social-icons li .facebook {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/facebook.png) no-repeat;
}
.social-icons li .forrst {
  background: url(../img/social/forrst.png) no-repeat;
}
.social-icons li .github {
  background: url(../img/social/github.png) no-repeat;
}
.social-icons li .googleplus {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/googleplus.png) no-repeat;
}
.social-icons li .jolicloud {
  background: url(../img/social/jolicloud.png) no-repeat;
}
.social-icons li .last-fm {
  background: url(../img/social/last-fm.png) no-repeat;
}
.social-icons li .linkedin {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/linkedin.png) no-repeat;
}
.social-icons li .picasa {
  background: url(../img/social/picasa.png) no-repeat;
}
.social-icons li .pintrest {
  background: url(../img/social/pintrest.png) no-repeat;
}
.social-icons li .rss {
  background: url(../img/social/rss.png) no-repeat;
}
.social-icons li .skype {
  background: url(../img/social/skype.png) no-repeat;
}
.social-icons li .spotify {
  background: url(../img/social/spotify.png) no-repeat;
}
.social-icons li .stumbleupon {
  background: url(../img/social/stumbleupon.png) no-repeat;
}
.social-icons li .tumblr {
  background: url(../img/social/tumblr.png) no-repeat;
}
.social-icons li .twitter {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/twitter.png) no-repeat;
}
.social-icons li .vimeo {
  background: url(../img/social/vimeo.png) no-repeat;
}
.social-icons li .wordpress {
  background: url(../img/social/wordpress.png) no-repeat;
}
.social-icons li .xing {
  background: url(../img/social/xing.png) no-repeat;
}
.social-icons li .yahoo {
  background: url(../img/social/yahoo.png) no-repeat;
}
.social-icons li .youtube {
  background: url(../img/social/youtube.png) no-repeat;
}
.social-icons li .vk {
  background: url(../img/social/vk.png) no-repeat;
}
.social-icons li .instagram {
  background: url(../img/social/instagram.png) no-repeat;
}
.social-icons li .reddit {
  background: url(../img/social/reddit.png) no-repeat;
}
.social-icons li .aboutme {
  background: url(../img/social/aboutme.png) no-repeat;
}
.social-icons li .flickr {
  background: url(../img/social/flickr.png) no-repeat;
}
.social-icons li .foursquare {
  background: url(../img/social/foursquare.png) no-repeat;
}
.social-icons li .gravatar {
  background: url(../img/social/gravatar.png) no-repeat;
}
.social-icons li .klout {
  background: url(../img/social/klout.png) no-repeat;
}
.social-icons li .myspace {
  background: url(../img/social/myspace.png) no-repeat;
}
.social-icons li .quora {
  background: url(../img/social/quora.png) no-repeat;
}
.social-icons.social-icons-color > li > a {
  opacity: 0.7;
  background-position: 0 -38px !important;
}
.social-icons.social-icons-color > li > a:hover {
  opacity: 1;
}
.social-icons.social-icons-circle > li > a {
  border-radius: 25px !important;
}

.input-group{position:relative;display:table;border-collapse:separate}
/***
END Social Icons
***/



/***
Inline Social Icons
***/
.social-icon {
  display: inline-block !important;
  width: 28px;
  height: 28px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icon.social-icon-circle {
  border-radius: 25px !important;
}

.social-icon.amazon {
  background: url(../img/social/amazon.png) no-repeat;
}
.social-icon.behance {
  background: url(../img/social/behance.png) no-repeat;
}
.social-icon.blogger {
  background: url(../img/social/blogger.png) no-repeat;
}
.social-icon.deviantart {
  background: url(../img/social/deviantart.png) no-repeat;
}
.social-icon.dribbble {
  background: url(../img/social/dribbble.png) no-repeat;
}
.social-icon.dropbox {
  background: url(../img/social/dropbox.png) no-repeat;
}
.social-icon.evernote {
  background: url(../img/social/evernote.png) no-repeat;
}
.social-icon.facebook {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/facebook.png) no-repeat;
}
.social-icon.forrst {
  background: url(../img/social/forrst.png) no-repeat;
}
.social-icon.github {
  background: url(../img/social/github.png) no-repeat;
}
.social-icon.googleplus {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/googleplus.png) no-repeat;
}
.social-icon.jolicloud {
  background: url(../img/social/jolicloud.png) no-repeat;
}
.social-icon.last-fm {
  background: url(../img/social/last-fm.png) no-repeat;
}
.social-icon.linkedin {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/linkedin.png) no-repeat;
}
.social-icon.picasa {
  background: url(../img/social/picasa.png) no-repeat;
}
.social-icon.pintrest {
  background: url(../img/social/pintrest.png) no-repeat;
}
.social-icon.rss {
  background: url(../img/social/rss.png) no-repeat;
}
.social-icon.skype {
  background: url(../img/social/skype.png) no-repeat;
}
.social-icon.spotify {
  background: url(../img/social/spotify.png) no-repeat;
}
.social-icon.stumbleupon {
  background: url(../img/social/stumbleupon.png) no-repeat;
}
.social-icon.tumblr {
  background: url(../img/social/tumblr.png) no-repeat;
}
.social-icon.twitter {
  background: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/img/social/twitter.png) no-repeat;
}
.social-icon.vimeo {
  background: url(../img/social/vimeo.png) no-repeat;
}
.social-icon.wordpress {
  background: url(../img/social/wordpress.png) no-repeat;
}
.social-icon.xing {
  background: url(../img/social/xing.png) no-repeat;
}
.social-icon.yahoo {
  background: url(../img/social/yahoo.png) no-repeat;
}
.social-icon.youtube {
  background: url(../img/social/youtube.png) no-repeat;
}
.social-icon.vk {
  background: url(../img/social/vk.png) no-repeat;
}
.social-icon.instagram {
  background: url(../img/social/instagram.png) no-repeat;
}
.social-icon.reddit {
  background: url(../img/social/reddit.png) no-repeat;
}
.social-icon.aboutme {
  background: url(../img/social/aboutme.png) no-repeat;
}
.social-icon.flickr {
  background: url(../img/social/flickr.png) no-repeat;
}
.social-icon.foursquare {
  background: url(../img/social/foursquare.png) no-repeat;
}
.social-icon.gravatar {
  background: url(../img/social/gravatar.png) no-repeat;
}
.social-icon.klout {
  background: url(../img/social/klout.png) no-repeat;
}
.social-icon.myspace {
  background: url(../img/social/myspace.png) no-repeat;
}
.social-icon.quora {
  background: url(../img/social/quora.png) no-repeat;
}
.social-icon:hover {
  background-position: 0 -38px;
}

.social-icon-color {
  opacity: 0.7;
  background-position: 0 -38px !important;
}
.social-icon-color:hover {
  opacity: 1;
}



/* input field */
.input-field label{
    color :grey;
}



