// Place all the styles related to the estimating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .form-box{
        background-color : white; height : 87px; text-align : center; padding-right: 0px;    padding-left: 0px;
    }
    