// Place all the styles related to the estimating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-box {
  background-color: white;
  height: 87px;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px; 
  color: black;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: 0.5;
}
.check {
  background-color: #80C5BF;
  height: 87px;
  text-align: center;
  padding-right: 0px;
  padding-left: 0px; 
  color: black;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: 0.5; 
}
  
.disappear{
 display:none; 
}

.appear{
 display:block;
}

.button {
  background-color: #009688;
  border: none;
  width : 230px;
  height : 25px;
  position: absolute;
  z-index : 5;
}
.button_240{
  background-color: #009688;
  border: none;
  width : 240px;
  height : 25px;
  position: absolute;
  z-index : 5;
}