// Place all the styles related to the estimating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .form-box{
        background-color : white; height : 87px; text-align : center; padding-right: 0px;    padding-left: 0px;
    }
    
 // .form-box{
 //       background-color : #69D2E7; height : 87px; text-align : center; padding-right: 0px;    padding-left: 0px;
 //        text-align: center;
 //        color: #FFFFFF;
 //        font-family: Verdana, Arial, Sans-Serif;
 //        opacity: 0.5;
 //    }
    