<footer class="page-footer red lighten-1">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="yellow-text">강남팬더</h5>
      <p class="grey-text text-lighten-4">강남팬더 짱짱맨</p>


    </div>
    <div class="col l3 s12">
      <h5 class="yellow-text">Settings</h5>
      <ul>
        <li><a class="white-text" href="#!">Link 1</a></li>
        <li><a class="white-text" href="#!">Link 2</a></li>
        <li><a class="white-text" href="#!">Link 3</a></li>
        <li><a class="white-text" href="#!">Link 4</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="yellow-text">팀원</h5>
      <ul>
        <li><a class="white-text" href="#!">국수근</a></li>
        <li><a class="white-text" href="#!">유준희</a></li>
        <li><a class="white-text" href="#!">김병철</a></li>
        <li><a class="white-text" href="#!">김승한</a></li>
        <li><a class="white-text" href="#!">이정민</a></li>
        <li><a class="white-text" href="#!">백용수</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
   <strong>Copyright</strong> 江南style &copy; 2015
  </div>
</div>
</footer>

