<nav class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text">江南style</a>
    <ul class="right hide-on-med-and-down">

      <% if user_signed_in? %>
        <li><%= link_to "LOGOUT", destroy_user_session_path, :class => "white-text",method: 'delete' %></li>
        <li><a href="#" class="white-text">MY PAGE</a></li>
      <% elsif codi_signed_in? %>
        <li><%= link_to "LOGOUT", destroy_codi_session_path, :class => "white-text",method: 'delete' %></li>
        <li><a href="#" class="white-text">MY PAGE</a></li>
      <% else %>  
        <li><a href="/users/sign_in" class="white-text">LOGIN</a></li>
        <li><a href="/users/sign_up" class="white-text">JOIN</a></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      <li><a href="#">견적신청</a></li>
      <li><a href="#">병원정보</a></li>
      <li><a href="#">후기</a></li>
      <li><a href="#">커뮤니티</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>